/ruby/integration-demos/.idea/
/ruby/integration-demos-lib/.idea/
/ruby/integration-demos-lib/.bundle
/ruby/integration-demos-web/.idea/
/ruby/integration-demos-web/.bundle


/ruby/integration-demos-lib/projectFilesBackup/
/ruby/integration-demos-web/projectFilesBackup/

/ruby/integration-demos-lib/pkg/

/ruby/integration-demos-web/log/*.log
/ruby/integration-demos-web/tmp
/ruby/integration-demos-web/db/*.sqlite3
/ruby/integration-demos-web/setenv*
/ruby/integration-demos-web/bundler_stubs/

*.swp
*~
.project
.DS_Store
