<div class="hero-unit">
  <div class="container">
    <h1>Thanks for Signing!</h1>
    <p>Your document has been signed with your approval.</p>
    <p><a class="btn btn-primary btn-lg" href="/">Click here to return to integration demos</a></p>
  </div>
</div>