<div class="hero-unit">
    <div class="container">
        <h2>Your approval is required<h2>
        <p><a class="btn btn-primary btn-lg" href="<%=@recipientViewUrl%>">Sign Here!</a></p>
    </div>
</div>
